asgiref             3.8.1
Django              5.2.3
djangorestframework 3.16.0
lxml                5.4.0
pip                 25.1.1
python-docx         1.2.0
sqlparse            0.5.3
typing_extensions   4.14.0
tzdata              2025.2